<ion-view title="About">
    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <h4 class="center">About The Fab2U</h4>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, corrupti dignissimos. Quae sapiente adipisci inventore, nesciunt commodi optio! Dolorum ullam sed consequatur similique ipsa est, necessitatibus nesciunt minus delectus dolore?</p>
            </div>
        </div>
    </ion-content>
</ion-view>