<ion-view title="Connections">
    <ion-content class="has-header padding">
        <div class="list">
            <div class="item item-avatar">
                <img src="img/ionic.png" alt="">
                <h2>Arnold Schwangener</h2>
            </div>
            <div class="item item-avatar">
                <img src="img/ionic.png" alt="">
                <h2>Arnold Schwangener</h2>
            </div>
            <div class="item item-avatar">
                <img src="img/ionic.png" alt="">
                <h2>Arnold Schwangener</h2>
            </div>
            <div class="item item-avatar">
                <img src="img/ionic.png" alt="">
                <h2>Arnold Schwangener</h2>
            </div>
            <div class="item item-avatar">
                <img src="img/ionic.png" alt="">
                <h2>Arnold Schwangener</h2>
            </div>
        </div>
    </ion-content>
</ion-view>