<ion-view title="Home">
    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <h4 class="center">Welcome To Fab2U</h4>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="item item-text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aspernatur ducimus, accusamus sit molestias tenetur omnis sequi sint, dolor eius autem hic, molestiae. Velit, laborum non ut quos corrupti est.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col list card">
                <div class="item item-avatar">
                    <img src="img/ionic.png" alt="">
                    <h2>Ionic Framework</h2>
                    <p>May 22, 2016</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/logo.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur aliquam architecto unde, doloremque atque quia velit nostrum eum quidem minima? Nemo, soluta, pariatur deleniti totam unde rem expedita dicta ea.</p>
                    <a href="#" class="subdued">112 Like</a>
                    <a href="#" class="subdued">11 Dislike</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>