<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab
        title="Home"
        icon="ion-home"
        href="/tabs/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab
        title="Connections"
        icon="ion-ios-people"
        href="/tabs/connections">
            <ion-nav-view name="connections-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab
        title="About"
        icon="ion-ios-information"
        href="/tabs/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>